################################
###### Core dependencies #######
################################
bert-score==0.3.12
hydra-core==1.2.0
omegaconf==2.2.3
openai>=0.27.0
pytorch-lightning>=1.7.7
rouge-score==0.1.2
scikit-learn==1.1.2
sentencepiece>=0.1.97
transformers==4.28.1
sentence-transformers==2.2.2
wandb>=0.13.4
anthropic==0.2.10
bitsandbytes==0.39.0
shadow_scholar==0.6.0
unidecode==1.3.6
spacy==3.4.1
accelerate
# "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz#egg=en_core_web_sm"
#"/home/benjaminn/nfs/shadow-scholar/"

# https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz